body{
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.card {
    border: 2px solid lightblue;
   
    width: 30%;
    
    box-shadow: 5px 5px gray;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.availability{
    background-color: darkgray;
    color: yellow;
}

img {
    width: 100%;
   
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
footer{
    font-size: small;
}


.title{
    text-align: center;
    font-weight: bold;
    border: 2px solid lightblue
}
.description{
    text-align: justify;
}


.specs{
    padding-left: 10%;
}

.price{
    font-weight: bold;
    padding-left: 10%;
}

.section1 p {
    padding-left: 3%;
}

.section2, .section3 {
    padding-left: 3%;
    font-weight: bold;
} 

.section1{
    position: relative;
}

.soldout {
    position: absolute;
    z-index: 10;
    top: 25px;
}

